header {
  display: flex;
  background-color: #E3D5CA;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .25rem 2rem .25rem 2rem;
}

nav a {
  display: flex;

}

header h1 {
  margin: 0;
  padding: .25rem 0;
  white-space: nowrap;
  margin-left: .5rem;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 1.5rem;
  }

  nav div {
    display: none;
  }
}