.auth-page-title {
  margin-top: 15%;
  margin-bottom: 10px;
  font-size: 3rem;
}

.content-container {
  justify-content: center;
  gap: 3rem;
}

.auth-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container > form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: auto;
  background-color: #d5bdaf;
  padding: 2rem;
  border-radius: 10px;
}

.form-container > form > label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.form-container > form input {
  width: 12rem;
  font-size: 1.25rem;
  font-family: 'Poppins';
  font-weight: 300;
}

.form-container > form > button {
  display: flex;
  align-self: center;
  width: fit-content;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.25rem;
}

.auth-button {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  font-size: 2rem;
  align-self: center;
  margin-bottom: 15px;
  background-color: #f3ebe1;
  font-family: "Poppins";
  font-weight: 300;
  line-height: 40px;
  cursor: pointer;
  color: black;
}

@media only screen and (max-width: 600px) {
  .auth-page-title {
    font-size: 2rem;
    margin-top: 2rem;
  }
}